In [1]:
import numpy as np
import pandas as pd

In [3]:
# importing the dataset
from sklearn.datasets import load_boston
boston_data = load_boston()

C:\Users\Joel\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [5]:
# create a pandas dataframe to store the data
df_boston = pd.DataFrame(boston_data.data)
df_boston.columns = boston_data.feature_names

In [6]:
# appending the price
df_boston['Price'] = boston_data.target
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
# assign features to x axis
X_features = boston_data.data

In [9]:
# assign target to y axis
Y_target = boston_data.target

In [10]:
# import scikit learn linear regression model
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()

In [11]:
linReg.fit(X_features, Y_target)

LinearRegression()

In [12]:
# print intercept ie Beta note
print("The estimated intercept is %.2f" %linReg.intercept_)

The estimated intercept is 36.46

In [13]:
# to print coefficients
print("The coeficient is: %d" %len(linReg.coef_))

The coeficient is: 13

In [14]:
# train the model by splitting the entire dataset into train and test datasets
from sklearn.model_selection import train_test_split
X_Train, X_test, Y_train, Y_test = train_test_split(X_features, Y_target)

In [15]:
# Print the size of training and testing dataset.
print(X_Train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(379, 13) (127, 13) (379,) (127,)

In [16]:
# fit the training data into the model
linReg.fit(X_Train, Y_train)

LinearRegression()

In [21]:
# calculate mean squared error (MSE) of the model
print("Mean Squared Error(MSE) %.2f" %np.mean((linReg.predict(X_test) - Y_test) ** 2))

Mean Squared Error(MSE) 19.99

In [22]:
# print the variance score which is the accuracy of the model.
print("Variance score: %.2f" % linReg.score(X_test, Y_test))

Variance score: 0.77